<div class="input-form">
<%= form_tag(quote_essay_path, :method => 'post' ) do %>
    <div class="input-ind"><label for="title">論文の題名</label><%= text_field_tag :essay_title, '', class: 'input-text' %></div>
    <div class="input-ind"><label for="title">筆者の名前</label><%= text_field_tag :essay_author, '', class: 'input-text' %></div>
     <div class="input-ind"><label for="title">本の題名　</label><%= text_field_tag :book_title, '', class: 'input-text' %></div>
     <div class="input-ind"><label for="name">本の編者</label><%= text_field_tag :book_author, '', class: 'input-text' %></div>
     <div class="input-ind"><label for="year">出版年　</label><%= text_field_tag :year, '', class: 'input-text' %></div>
     <div class="input-ind"><label for="publisher">出版社　</label><%= text_field_tag :publisher, '', class: 'input-text' %></div>
     <%= button_tag '書誌情報を整形する', class: 'shaping' %>
 <% end %>
 
 <div class="result-block">
     <% unless params[:year].nil? %>
     <%= text_area_tag :result, @result %>
     <%= button_tag 'テキストをコピー', class: 'copy-source' %>
     </div>
     
    <% end %>
 </div>
 
 
<script>
 $('document').ready(()=>{
  $('.header-title').on('mouseenter', (event)=>{
   $('.header-description').show();
   $(this).on('mouseleave', ()=>{
    $('.header-description').hide();
   })
  })
  $('.go-menu').on('click', (event) => {
      $('.link-list').toggle();
  })
  $('.copy-source').on("click",function(){
 $("textarea").select();
 document.execCommand('copy');
 alert("コピー完了");
});
 })
</script>