<!DOCTYPE html>
<html>
  <head>
    <title>推しCPカクテルメーカー</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= display_meta_tags(cocktail_meta_tags) %>
    <%= stylesheet_link_tag    'cocktail.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  <!--  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="google-site-verification" content="lm3V5A-fY4CMCYi_XD6sWYMiZA8wqZmIvmclT7lzHrE" />
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-3173660007480021",
          enable_page_level_ads: true
     });
</script>
  </head>

  <body>
    <%= render 'share/header_cocktail' %>
    <%= render 'share/nav' %>
    <%= yield %>
  </body>
</html>
