<!DOCTYPE html>
<html>
  <head>
    <title>参考文献ジェネレーター</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'quote', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= display_meta_tags(default_meta_tags) %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="twitter:card" content="summary" /> /*①*/
    <meta name="twitter:site" content="@saoatama" /> /*②*/
    <meta property="og:url" content="https://hidden-basin-56674.herokuapp.com/quote/book" /> /*③*/
    <meta property="og:title" content="参考文献ジェネレーター" /> /*④*/
    <meta property="og:description" content="書誌情報をお手軽に参考文献の形式に変換します。レポートや卒論の効率化に役立ててください" /> /*⑤*/
    <meta property="og:image" content="book_booktrack.png" /> /*⑥*/
  </head>

  <body>
     <%= render 'share/header' %>
     <%= render 'share/nav' %>
    <main>
      <%= render 'which' %>
      <%= yield %>
    </main>
  </body>
</html>
